KUBECTL_VERSION=v1.17.4
HELM_VERSION=v3.1.2
K3S_VERSION=v1.17.4+k3s1
K3S_VERSION_ZIP=k3s-1.17.4-k3s1
RASPBIAN_IMAGE_LOCATION=raspbian_lite-2020-02-14
RASPBIAN_VERSION=2020-02-13-raspbian-buster-lite
PI_LOGIN=pi
PI_PASSWORD=raspberry
